<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Boggle</title>
</head>
<body>
    <header>
        <h1>Boggle Game!</h1>
    </header>
    
    <main>
        <div id="game">

            <div id="board">
                <table>
                    <tbody>
                        {% for row in board %}
                            <tr>
                                {% for letter in row %}
                                    <td>{{ letter }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <section id="info-section">

                <div class="info-group-1">
                    <form id="guess-form">
                        <input type="text" id="guess-input" name="guess" placeholder="Enter your guess">
                        <button type="submit" id="submit-btn" >Submit</button>
                    </form>
                    <div id="start-input">
                        <button id="start-button">Start</button>
                    </div>
                </div>
                
                <div class="info-group-2">
                    <div class="info-card" id="timer">
                        <h2>Time Left</h2>
                        <p id="time">60</p>
                    </div>
                    <div class="info-card" id="score">
                        <h2>Score</h2>
                        <p id="score-value">0</p>
                    </div>
                </div>
                
                <div class="info-group-3">
                    <div class="info-card" id="highscore">
                        <h2>Highscore</h2>
                        <p id="highscore-value">{{ highscore }}</p>
                    </div>
                    <div class="info-card" id="times-played">
                        <h2>Times Played</h2>
                        <p id="times-played-value">{{ games_played }}</p>
                    </div>
                </div>

                <div class="info-group-4">
                    <div class="info-card" id="message">
                        <h2>Message</h2>
                        <p id="message-text"></p>
                    </div>
                </div>
                
            </section>
            
    
        </div>
    </main>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
</body>
</html>